.email-block {
  display: inline-flex;
  background-color: #d5e5ff;
  border-radius: 22px;
  font-size: 15px;
  margin: 7px 0px 0px 8px;
  height: 25px;
  cursor: default;
  text-overflow: ellipsis;
  align-items: flex-start;

  & span {
    position: relative;
    top: 3px;
    left: 1px;
    padding: 0px 8px;
  }

  &.invalid-block {
    background-color: inherit;
    border: none;
    color: black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px dotted #d14836;
  }
}

.icon-x {
  display: inline-block;
  padding: 0px 2px;
  cursor: pointer;
  vertical-align: middle;

  &::before {
    content: '\D7';
  }

  &:hover {
    font-weight: bold;
  }
}